@page "/Ayar/Duyuru"

@inject IJSRuntime js

@using System.Threading
@using System.Threading.Tasks
@using System.Net.Http
@using System.Text.Json

<div class="card info-card">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td width="15%" align="center">Tarih</td>
                    <td width="40%">Konu</td>
                    <td width="15%" align="center">Sistem Kullanıcılarına Görünsün</td>
                    <td width="15%" align="center">Web Sayfasında Görünsün</td>
                    <td width="15%" align="center">
                        @if (YetkiEkle)
                        {
                            <button class="btn text-success grid-command" @onclick="Add"><i class="bi bi-plus-circle "></i></button>
                        }
                        <button class="btn text-success grid-command" @onclick="ExportToExcel"><i class="bi bi-file-earmark-excel"></i></button>
                    </td>
                </tr>
            </thead>
            @if (DataSource.ToList().Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="5" align="center" valign="bottom" height="64px">
                            <h6>Görüntülenecek Veri Yok</h6>
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @foreach (var data in DataSource)
                    {
                        var RowFontColor = data.Aktif ? "black" : "gray";

                        <tr style="color:@RowFontColor">
                            <td width="15%" align="center">@data.Tarih.Value.ToString("dd.MM.yyyy")</td>
                            <td width="40%">@data.Konu</td>
                            <td width="15%" align="center">@(data.SistemKullanicilarinaGoster ? "Evet" : "Hayır")</td>
                            <td width="15%" align="center">@(data.WebSitesindeGoster ? "Evet" : "Hayır")</td>
                            <td width="15%" align="center">
                                @if (YetkiDegistir)
                                {
                                    <button class="btn text-info grid-command" @onclick="@(async () => { await Edit(data.Id); })"><i class="bi bi-pencil"></i></button>
                                }
                                @if (YetkiSil)
                                {
                                    <button class="btn text-danger grid-command" @onclick="@(async () => { await Delete(data.Id); })"><i class="bi bi-trash3"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>

<button id="popupKayitAc" type="button" data-bs-toggle="modal" data-bs-target="#popupKayit" style="visibility:hidden;">
</button>

<div class="modal fade" id="popupKayit" tabindex="-1" aria-labelledby="popupKayitLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <EditForm Model="@currentDTO">
                <DataAnnotationsValidator />
                <div class="modal-header">
                    <h5 class="modal-title" id="popupKayitLabel">Duyuru Kaydı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="tbTarih">Tarih</label>
                                <input class="form-control form-control-sm" type="date" @bind-value="currentDTO.Tarih" placeholder="Tarih" id="tbTarih">
                                <ValidationMessage For="@(() => currentDTO.Tarih)" />
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-control form-control-sm">
                                <input type="checkbox" class="form-check-input" id="cbSistemKullanicilarinaGoster" @bind="currentDTO.SistemKullanicilarinaGoster">
                                <label for="cbSistemKullanicilarinaGoster" class="form-check-label">Sistem Kullanıcılarına Görünsün</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-control form-control-sm">
                                <input type="checkbox" class="form-check-input" id="cbWebSitesindeGoster" @bind="currentDTO.WebSitesindeGoster">
                                <label for="cbWebSitesindeGoster" class="form-check-label">Web Sayfasında Görünsün</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-control form-control-sm">
                                <input type="checkbox" class="form-check-input" id="cbAktif" @bind="currentDTO.Aktif">
                                <label for="cbAktif" class="form-check-label">Aktif</label>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-floating">
                                <input name="tbKonu" class="form-control form-control-sm" type="text" @bind-value="currentDTO.Konu">
                                <label for="tbKonu">Konu</label>
                                <ValidationMessage For="@(() => currentDTO.Konu)" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>İçerik</label>
                            <RadzenHtmlEditor @bind-Value=@currentDTO.Icerik style="height: 240px; margin-bottom: 1rem;" UploadUrl="upload/image">
                            </RadzenHtmlEditor>
                            <ValidationMessage For="@(() => currentDTO.Icerik)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" @onclick="Save"><i class="bi bi-check-circle"></i>&nbsp;Kaydet</button>
                    <button id="popupKayitKapat" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;Vazgeç</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (loading)
{
    <div class="progressBackground">
        <div class="progressPopup">
            <img alt="Bekleyiniz..." src="img/loading.gif" width="100" height="100" />
        </div>
    </div>
}

@code
{
    [Inject] protected IRolService rolService { get; set; }
    [Inject] protected IDuyuruService duyuruService { get; set; }

    List<DuyuruDTO> DataSource = new List<DuyuruDTO>();

    DuyuruDTO currentDTO = new DuyuruDTO();
    DuyuruFilterDTO filterDTO = new DuyuruFilterDTO() { SistemKullanicilarinaGoster = -1, WebSitesindeGoster = -1, Aktif = -1 };

    bool loading = false;
    bool YetkiEkle = false;
    bool YetkiDegistir = false;
    bool YetkiSil = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            YetkiEkle = await rolService.YetkiKontrolByYetki("Ayarlar - Duyurular - Ekle");
            YetkiDegistir = await rolService.YetkiKontrolByYetki("Ayarlar - Duyurular - Değiştir");
            YetkiSil = await rolService.YetkiKontrolByYetki("Ayarlar - Duyurular - Sil");

            await GetData();

            await InvokeAsync(StateHasChanged);
        }
    }

    async Task GetData()
    {
        var result = await duyuruService.GetDuyuruList(filterDTO);

        if (result.Success)
        {
            DataSource = result.Value;
        }
        else
        {
            await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");
        }
    }

    async Task Add()
    {
        currentDTO = new DuyuruDTO();

        await InvokeAsync(StateHasChanged);

        await js.InvokeVoidAsync("bsPopupAc", "popupKayit");
    }

    async Task Edit(int Id)
    {
        currentDTO = await duyuruService.GetDuyuru(Id);

        await InvokeAsync(StateHasChanged);

        await js.InvokeVoidAsync("bsPopupAc", "popupKayit");
    }

    async Task Save()
    {
        if ((currentDTO.Tarih.HasValue == false) || string.IsNullOrEmpty(currentDTO.Konu) || string.IsNullOrEmpty(currentDTO.Icerik))
        {
            return;
        }

        loading = true;

        var result = await duyuruService.InsertOrUpdateDuyuru(currentDTO);

        if (result.Success == false)
        {
            loading = false;
            await InvokeAsync(StateHasChanged);

            await js.InvokeVoidAsync("SweetMessage", "Uyarı", result.Message, "error");
            return;
        }

        await GetData();

        loading = false;

        await InvokeAsync(StateHasChanged);

        await js.InvokeVoidAsync("bsPopupKapat", "popupKayit");

        await js.InvokeVoidAsync("SweetToast", "Kaydedildi", "success");
    }

    async Task Delete(int Id)
    {
        var dto = await duyuruService.GetDuyuru(Id);

        var dtos = new List<DuyuruDTO>();

        dtos.Add(dto);

        var confirm = await js.InvokeAsync<bool>("SweetConfirm", "Uyarı", "Kayıt silinecek, emin misiniz?", "question", "Evet", "Hayır");

        if (confirm)
        {
            var result = await duyuruService.DeleteDuyuru(dtos);

            if (result.Success == false)
            {
                await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");
                return;
            }

            await GetData();

            await InvokeAsync(StateHasChanged);

            await js.InvokeVoidAsync("SweetToast", "Kayıtlar silindi", "success");
        }
    }

    public async Task ExportToExcel()
    {
        using (var workbook = new XLWorkbook())
        {
            IXLWorksheet worksheet = workbook.Worksheets.Add("Sayfa1");

            worksheet.Cell(1, 1).Value = "Tarih";
            worksheet.Cell(1, 2).Value = "Konu";
            worksheet.Cell(1, 3).Value = "Sistem Kullanıcılarına Görünsün";
            worksheet.Cell(1, 4).Value = "Web Sayfasında Görünsün";
            worksheet.Cell(1, 5).Value = "Aktif/Pasif";

            for (int i = 1; i <= 5; i++)
            {
                worksheet.Cell(1, i).Style.Font.Bold = true;
            }

            int index = 1;

            foreach (var data in DataSource)
            {
                worksheet.Cell(index + 1, 1).Value = data.Tarih.Value.ToString("dd.MM.yyyy");
                worksheet.Cell(index + 1, 2).Value = data.Konu;
                worksheet.Cell(index + 1, 3).Value = data.SistemKullanicilarinaGoster ? "Evet" : "Hayır";
                worksheet.Cell(index + 1, 4).Value = data.WebSitesindeGoster ? "Evet" : "Hayır";
                worksheet.Cell(index + 1, 5).Value = data.Aktif ? "Aktif" : "Pasif";

                index++;
            }

            using (var stream = new MemoryStream())
            {
                workbook.SaveAs(stream);
                var content = stream.ToArray();
                var fileName = "DuyuruListesi" + DateTime.Now.ToString("yyyyMMddss") + ".xlsx";
                await js.InvokeAsync<object>("saveAsFile", fileName, Convert.ToBase64String(content));
            }
        }
    }
}