@page "/Ayar/Rol"

@inject IJSRuntime js

@using System.Threading
@using System.Threading.Tasks
@using System.Net.Http
@using System.Text.Json

<div class="card info-card">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td width="5%" align="center">
                        <input type="checkbox" checked="@CheckAll" @onchange="eventArgs => { OnCheckAllChange(eventArgs.Value); }" />
                    </td>
                    <td width="50%">Rol</td>
                    <td width="45%" align="center">
                        <div class="btn-group">
                            @if (YetkiEkle)
                            {
                                <button class="btn text-success grid-command" @onclick="Add"><i class="bi bi-plus-circle "></i></button>
                            }
                            @if (YetkiSil)
                            {
                                <button class="btn text-danger grid-command" @onclick="Delete"><i class="bi bi-trash3"></i></button>
                            }
                            <button class="btn text-success grid-command" @onclick="ExportToExcel"><i class="bi bi-file-earmark-excel"></i></button>
                        </div>
                    </td>
                </tr>
            </thead>
            @if (DataSource.ToList().Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="7" align="center" valign="bottom" height="64px">
                            <h6>Görüntülenecek Veri Yok</h6>
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @foreach (var data in DataSource)
                    {
                        <tr>
                            <td width="5%" align="center">
                                <input type="checkbox" @bind="data.Checked" />
                            </td>
                            <td width="50%">@data.Rol</td>
                            <td width="45%" align="center">
                                <div class="btn-group">
                                    @if (YetkiDegistir)
                                    {
                                        <button class="btn text-info grid-command" @onclick="@(async () => { await Edit(data.Id); })"><i class="bi bi-pencil"></i></button>
                                    }
                                    @if (YetkiSil)
                                    {
                                        <button class="btn text-danger grid-command" @onclick="@(async () => { await Sil(data.Id); })"><i class="bi bi-trash3"></i></button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>

<button id="popupKayitAc" type="button" data-bs-toggle="modal" data-bs-target="#popupKayit" style="visibility:hidden;">
</button>

<div class="modal fade" id="popupKayit" tabindex="-1" aria-labelledby="popupKayitLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <EditForm Model="@rolDTO">
                <DataAnnotationsValidator />
                <div class="modal-header">
                    <h5 class="modal-title" id="popupKayitLabel">Rol Kaydı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="tbRol">Rol Adı</label>
                            <input class="form-control form-control-sm" type="text" @bind-value="rolDTO.Rol">
                            <ValidationMessage For="@(() => rolDTO.Rol)" />
                        </div>
                        <div class="col-md-6">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <label for="lbYetkilerSol">Verilebilecek Yetkiler (@DataSourceYetkiSol.Count().ToString())</label>
                                    </td>
                                    <td style="text-align:end">
                                        <button type="button" class="btn btn-lg p-0" @onclick="@SagaTasi"><i class="bi bi-arrow-right-square-fill"></i></button>
                                    </td>
                                </tr>
                            </table>
                            <CheckBoxList Data="@DataSourceYetkiSol" TextField="@((item)=>item.Yetki)" ValueField="@((item)=>item.Id)"
                                          SelectedValues="@SelectedValuesSol" Height="320" SelectAllVisible="true">
                            </CheckBoxList>
                        </div>
                        <div class="col-md-6">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-lg p-0" @onclick="@SolaTasi"><i class="bi bi-arrow-left-square-fill"></i></button>
                                    </td>
                                    <td style="text-align:end">
                                        <label for="lbYetkilerSag">Verilen Yetkiler (@DataSourceYetkiSag.Count().ToString())</label>
                                    </td>
                                </tr>
                            </table>
                            <CheckBoxList Data="@DataSourceYetkiSag" TextField="@((item)=>item.Yetki)" ValueField="@((item)=>item.Id)"
                                          SelectedValues="@SelectedValuesSag" Height="320" SelectAllVisible="true">
                            </CheckBoxList>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm" @onclick="Save"><i class="bi bi-check-circle"></i>&nbsp;Kaydet</button>
                    <button id="popupKayitKapat" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;Vazgeç</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (loading)
{
    <div class="progressBackground">
        <div class="progressPopup">
            <img alt="Bekleyiniz..." src="img/loading.gif" width="100" height="100" />
        </div>
    </div>
}

@code
{
    [Inject] protected IRolService rolService { get; set; }

    List<RolDTO> DataSource = new List<RolDTO>();
    List<YetkiDTO> DataSourceYetkiSol = new List<YetkiDTO>();
    List<YetkiDTO> DataSourceYetkiSag = new List<YetkiDTO>();

    public List<string> SelectedValuesSol = new List<string>();
    public List<string> SelectedValuesSag = new List<string>();

    RolDTO rolDTO = new RolDTO() { };

    bool loading = false;
    bool YetkiEkle = false;
    bool YetkiDegistir = false;
    bool YetkiSil = false;
    bool CheckAll = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            YetkiEkle = await rolService.YetkiKontrolByYetki("Ayarlar - Roller - Ekle");
            YetkiDegistir = await rolService.YetkiKontrolByYetki("Ayarlar - Roller - Değiştir");
            YetkiSil = await rolService.YetkiKontrolByYetki("Ayarlar - Roller - Sil");

            await GetData();

            StateHasChanged();
        }
    }

    async Task GetData()
    {
        DataSource = await rolService.GetRolList();
    }

    void OnCheckAllChange(object checkedValue)
    {
        foreach (var data in DataSource)
        {
            data.Checked = (bool)checkedValue;
        }
    }

    async Task Add()
    {
        rolDTO = new RolDTO();

        DataSourceYetkiSol = await rolService.GetYetkiList();
        DataSourceYetkiSag = new List<YetkiDTO>();

        SelectedValuesSol = new List<string>();
        SelectedValuesSag = new List<string>();

        StateHasChanged();

        await js.InvokeVoidAsync("bsPopupAc", "popupKayit");
    }

    async Task Edit(int Id)
    {
        rolDTO = await rolService.GetRol(Id);

        DataSourceYetkiSol = await rolService.GetYetkiListVerilmeyenByRolId(Id);
        DataSourceYetkiSag = await rolService.GetYetkiListVerilenByRolId(Id);

        SelectedValuesSol = new List<string>();
        SelectedValuesSag = new List<string>();

        StateHasChanged();

        await js.InvokeVoidAsync("bsPopupAc", "popupKayit");
    }

    void Tasi(List<YetkiDTO> nereden, List<YetkiDTO> nereye)
    {
        var listNereden = nereden;
        var listNereye = nereye;

        var SelectedValues = nereden == DataSourceYetkiSol ? SelectedValuesSol : SelectedValuesSag;

        foreach (var item in SelectedValues)
        {
            var selectedItem = listNereden.FirstOrDefault(x => x.Id.ToString() == item);

            if (listNereye.Find(x => x.Id.ToString() == item) == null) listNereye.Add(selectedItem);

            listNereden.Remove(selectedItem);
        }

        //nereden = (List<YetkiDTO>)listNereden.OrderBy(x => x.Id);
        //nereye = (List<YetkiDTO>)listNereye.OrderBy(x => x.Id);

        SelectedValuesSol = new List<string>();
        SelectedValuesSag = new List<string>();

        StateHasChanged();
    }

    void SagaTasi()
    {
        Tasi(DataSourceYetkiSol, DataSourceYetkiSag);
    }

    void SolaTasi()
    {
        Tasi(DataSourceYetkiSag, DataSourceYetkiSol);
    }

    async Task Save()
    {
        if (string.IsNullOrEmpty(rolDTO.Rol))
        {
            return;
        }

        loading = true;

        rolDTO.Yetkiler = DataSourceYetkiSag;

        var result = await rolService.InsertOrUpdateRol(rolDTO);

        if (result.Success == false)
        {
            loading = false;
            StateHasChanged();

            await js.InvokeVoidAsync("SweetMessage", "Uyarı", result.Message, "error");
            return;
        }

        await GetData();

        loading = false;
        StateHasChanged();

        await js.InvokeVoidAsync("bsPopupKapat", "popupKayit");

        await js.InvokeVoidAsync("SweetToast", "Kaydedildi", "success");
    }

    async Task Sil(int Id)
    {
        var dto = await rolService.GetRol(Id);

        var dtos = new List<RolDTO>();

        dtos.Add(dto);

        var confirm = await js.InvokeAsync<bool>("SweetConfirm", "Uyarı", "Kayıt silinecek, emin misiniz?", "question", "Evet", "Hayır");

        if (confirm)
        {
            var result = await rolService.DeleteRol(dtos);

            if (result.Success == false)
            {
                await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");
                return;
            }

            await GetData();

            StateHasChanged();

            await js.InvokeVoidAsync("SweetToast", "Kayıtlar silindi", "success");
        }
    }

    async Task Delete()
    {
        var dtos = DataSource.Where(x => x.Checked).ToList();

        if (dtos.Count == 0)
        {
            await js.InvokeVoidAsync("SweetToast", "Silinecek kayıtları işaretleyiniz", "warning");
            return;
        }

        var newDtos = new List<RolDTO>();

        foreach (var dto in dtos)
        {
            var newDto = await rolService.GetRol(dto.Id);
            newDtos.Add(newDto);
        }

        var confirm = await js.InvokeAsync<bool>("SweetConfirm", "Uyarı", "İşaretlenen kayıtlar silinecek, emin misiniz?", "question", "Evet", "Hayır");

        if (confirm)
        {
            var result = await rolService.DeleteRol(newDtos);

            if (result.Success == false)
            {
                await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");
                return;
            }

            await GetData();

            StateHasChanged();

            await js.InvokeVoidAsync("SweetToast", "İşaretlenen kayıtlar silindi", "success");
        }
    }

    public async Task ExportToExcel()
    {
        using (var workbook = new XLWorkbook())
        {
            IXLWorksheet worksheet = workbook.Worksheets.Add("Sayfa1");

            worksheet.Cell(1, 1).Value = "Rol";

            for (int i = 1; i <= 1; i++)
            {
                worksheet.Cell(1, i).Style.Font.Bold = true;
            }

            int index = 1;

            foreach (var data in DataSource)
            {
                worksheet.Cell(index + 1, 1).Value = data.Rol;

                index++;
            }

            using (var stream = new MemoryStream())
            {
                workbook.SaveAs(stream);
                var content = stream.ToArray();
                var fileName = "RolListesi" + DateTime.Now.ToString("yyyyMMddss") + ".xlsx";
                await js.InvokeAsync<object>("saveAsFile", fileName, Convert.ToBase64String(content));
            }
        }
    }
}