@page "/KalibrasyonCihaz/{rol}/{durum}"

@inject IJSRuntime js
@inject NavigationManager navManager

@using System.Threading
@using System.Threading.Tasks
@using System.Net.Http
@using System.Text.Json
@*@using BlazorInputFile;*@

<style>
    .form-floating > label {
        left: 0.8rem
    }

    .form-floating > .form-select {
        padding-left: 0.8rem;
    }
</style>

<div class="card info-card">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td width="8%" align="center">Cihaz ID</td>
                    <td width="8%" align="center">Başvuru ID</td>
                    <td width="15%">Başvuru Takip No</td>
                    <td width="15%">Marka</td>
                    <td width="15%">Model</td>
                    <td width="15%">Seri No</td>
                    <td width="24%"></td>
                </tr>
                <tr>
                    <td width="8%">
                        <input class="form-control form-control-sm text-center" type="text" @bind-value="filterDTO.Id">
                    </td>
                    <td width="8%">
                        <input class="form-control form-control-sm text-center" type="text" @bind-value="filterDTO.KalibrasyonId">
                    </td>
                    <td width="15%">
                        <input class="form-control form-control-sm" type="text" @bind-value="filterDTO.BasvuruTakipNo">
                    </td>
                    <td width="15%">
                        <select class="form-select form-select-sm" @onchange="eventArgs => { MarkaSec(eventArgs.Value); }">
                            <option value="0"></option>
                            @foreach (var item in DSMarka)
                            {
                                if (filterDTO.MarkaId == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Ad</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Ad</option>
                                }
                            }
                        </select>
                    </td>
                    <td width="15%">
                        <select class="form-select form-select-sm" @onchange="eventArgs => { ModelSec(eventArgs.Value); }">
                            <option value="0"></option>
                            @foreach (var item in DSModel)
                            {
                                if (filterDTO.ModelId == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Ad</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Ad</option>
                                }
                            }
                        </select>
                    </td>
                    <td width="15%">
                        <input class="form-control form-control-sm" type="text" @bind-value="filterDTO.SeriNo">
                    </td>
                    <td width="24%" align="center">
                        <div class="btn-group">
                            <button class="btn text-success grid-command" @onclick="Sorgula"><i class="bi bi-search"></i></button>
                            <button class="btn text-success grid-command" @onclick="ExportToExcel"><i class="bi bi-file-earmark-excel"></i></button>
                        </div>
                    </td>
                </tr>
            </thead>
            @if (DSKalibrasyonCihaz.ToList().Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="7" align="center" valign="bottom" height="64px">
                            <h6>Görüntülenecek Veri Yok</h6>
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @foreach (var data in DSKalibrasyonCihaz)
                    {
                        <tr>
                            <td width="8%" align="center">@data.Id</td>
                            <td width="8%" align="center">@data.KalibrasyonId</td>
                            <td width="15%">@data.BasvuruTakipNo</td>
                            <td width="15%">@data.Marka</td>
                            <td width="15%">@data.Model</td>
                            <td width="15%">@data.SeriNo</td>
                            <td width="24%" align="center">
                                <div class="btn-group">
                                    @if (rol == "LaboratuvarGorevlisi" & (durum == "BasvuruHavuzu" || durum == "LaboratuvarSorumlusundanIadeGelen"))
                                    {
                                        if (YetkiYaz)
                                        {
                                            <button class="btn btn-sm btn-success" @onclick="@(() => { KabulEt(data); })"><i class="bi bi-check"></i>&nbsp;Kabul Et</button>
                                        }
                                    }
                                    else
                                    {
                                        <a href=@("/Kalibrasyon/KalibrasyonCihazOlcum/" + rol + "/" + data.Id.ToString()) class="btn btn-sm btn-success">
                                            <i class="bi bi-check"></i>&nbsp;Ölçüm Ekranı
                                        </a>
                                    }
                                    @if (YetkiYaz & durum != "KalibrasyonYapilan" & durum != "Sonuclanan")
                                    {
                                        <button class="btn btn-sm btn-danger" @onclick="@(() => { IadeEt(data); })"><i class="bi bi-x"></i>&nbsp;İade Et</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            }
            <thead>
                <tr>
                    <td colspan="7" align="center">
                        <Pager RowCount="@RowCount"
                               PageNoChanged="@((int pageNo) => PageNoChanged(pageNo))"
                               PageSizeChanged="@((int pageSize) => PageSizeChanged(pageSize))"></Pager>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<button id="popupAciklamaKaydiAc" type="button" data-bs-toggle="modal" data-bs-target="#popupAciklamaKaydi" style="visibility:hidden;">
</button>

<div class="modal fade" id="popupAciklamaKaydi" tabindex="-1" aria-labelledby="popupAciklamaKaydiLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupAciklamaKaydiLabel">@(currentKalibrasyonCihazHareketDTO.KalibrasyonCihazId.ToString() + " IDli Cihaz İçin İade Kaydı")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding-bottom:0">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <InputTextArea class="form-control form-control-sm" type="text" @bind-Value="currentKalibrasyonCihazHareketDTO.Aciklama" rows="10" placeholder="Açıklama giriniz..">
                        </InputTextArea>
                    </div>
                    <div class="col-md-12 mb-3">
                        <InputFile OnChange="HandleFileUpload" multiple></InputFile>
                    </div>
                    @if (currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList != null)
                    {
                        foreach (var item in currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList)
                        {
                            <div class="col-md-2 mb-3">
                                <div style="border:1px dashed silver; text-align:center">
                                    @if (item.Uzanti == "png" || item.Uzanti == "jpg" || item.Uzanti == "jpeg" || item.Uzanti == "bmp" || item.Uzanti == "svg" || item.Uzanti == "gif" || item.Uzanti == "ico")
                                    {
                                        <a href="javascript:void()" @onclick="@(() => { ShowImageOpen(item.Id); })">
                                            <img src=@("data:image/" + item.Uzanti + ";base64," + item.Dosya) type=@("image/" + item.Uzanti) style="width:100px;">
                                        </a>
                                        <br />
                                    }
                                    @item.DosyaAdi
                                    <br />
                                    @((item.Boyut / 1024).ToString("###,##0") + "KB")
                                    <br/>
                                    <button class="btn btn-sm" @onclick="@(() => { DeleteKalibrasyonCihazHareketDosya(item); })"><i class="bi bi-trash"></i></button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm" @onclick="@(() => { KaydetIadeEt(currentKalibrasyonCihazHareketDTO); })"><i class="bi bi-check-circle"></i>&nbsp;Kaydet</button>
                <button id="popupAciklamaKaydiKapat" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbsp;Vazgeç</button>
            </div>
        </div>
    </div>
</div>

@if (currentKalibrasyonCihazHareketDosyaDTO.DosyaAdi != "")
{
    <div class="showImageBackground">
        <div class="showImagePopup">
            <div class="showImageClose">
                <i class="bi bi-x-circle-fill" @onclick="ShowImageClose"></i>
            </div>
            <img src=@("data:image/" + currentKalibrasyonCihazHareketDosyaDTO.Uzanti + ";base64," + currentKalibrasyonCihazHareketDosyaDTO.Dosya) type=@("image/" + currentKalibrasyonCihazHareketDosyaDTO.Uzanti) style="max-width:100%; max-height: calc(100vh - 3.5rem);">
        </div>
    </div>
}

@if (loading)
{
    <div class="progressBackground">
        <div class="progressPopup">
            <img alt="Bekleyiniz..." src="img/loading.gif" width="100" height="100" />
        </div>
    </div>
}

@code
{
    [Inject] protected ILookupService lookupService { get; set; }
    [Inject] protected IRolService rolService { get; set; }
    [Inject] protected IKalibrasyonService kalibrasyonService { get; set; }

    [Parameter]
    public string rol { get; set; }

    [Parameter]
    public string durum { get; set; }

    List<KalibrasyonCihazDTO> DSKalibrasyonCihaz = new List<KalibrasyonCihazDTO>();
    List<KalibrasyonCihazHareketDTO> DSKalibrasyonCihazHareket = new List<KalibrasyonCihazHareketDTO>();
    List<LookupBasicDTO> DSMarka = new List<LookupBasicDTO>();
    List<LookupBasicDTO> DSModel = new List<LookupBasicDTO>();

    KalibrasyonCihazDTO currentDTO = new KalibrasyonCihazDTO();
    KalibrasyonCihazFilterDTO filterDTO = new KalibrasyonCihazFilterDTO() { PageNo = 1, PageSize = 10 };
    KalibrasyonCihazHareketDTO currentKalibrasyonCihazHareketDTO = new KalibrasyonCihazHareketDTO();
    KalibrasyonCihazHareketDosyaDTO currentKalibrasyonCihazHareketDosyaDTO = new KalibrasyonCihazHareketDosyaDTO();

    InputFileChangeEventArgs FileArgs { get; set; }

    bool loading = false;

    bool YetkiGor = false;
    bool YetkiYaz = false;

    int RowCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var resultYetkiBase = await rolService.GetYetkiBaseByLink($"KalibrasyonCihaz_{rol}_{durum}");

            if (resultYetkiBase.Success)
            {
                string yetkibase = resultYetkiBase.Value;

                YetkiGor = await rolService.YetkiKontrolByYetki($"{yetkibase} - Gör");
                YetkiYaz = await rolService.YetkiKontrolByYetki($"{yetkibase} - Yaz");

                DSMarka = await lookupService.GetLookupFromMasterDetail("Cihaz", 0);

                //await GetData();

                await InvokeAsync(StateHasChanged);
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetData();

        await InvokeAsync(StateHasChanged);
    }

    async Task GetData()
    {
        try
        {
            filterDTO.Sayfa = $"{rol}/{durum}";

            var result = await kalibrasyonService.GetKalibrasyonCihazList(filterDTO);

            if (result.Success)
            {
                DSKalibrasyonCihaz = result.Value;
                RowCount = result.RowCount;
            }
            else
            {
                await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");
            }
        }
        catch
        {

        }
    }

    async Task Sorgula()
    {
        await GetData();
        await InvokeAsync(StateHasChanged);
    }

    async Task PageNoChanged(int pageNo)
    {
        filterDTO.PageNo = pageNo;
        await GetData();
        await InvokeAsync(StateHasChanged);
    }

    async Task PageSizeChanged(int pageSize)
    {
        filterDTO.PageSize = pageSize;
        await GetData();
        await InvokeAsync(StateHasChanged);
    }

    async Task MarkaSec(object value)
    {
        int MarkaId = Convert.ToInt32(value.ToString());

        DSModel = await lookupService.GetLookupFromMasterDetail("Cihaz", (MarkaId == 0 ? -1 : MarkaId));

        filterDTO.MarkaId = MarkaId;
        filterDTO.ModelId = 0;

        await GetData();
        await InvokeAsync(StateHasChanged);
    }

    async Task ModelSec(object value)
    {
        filterDTO.ModelId = Convert.ToInt32(value.ToString());

        await GetData();
        await InvokeAsync(StateHasChanged);
    }

    public async Task ExportToExcel()
    {
        using (var workbook = new XLWorkbook())
        {
            IXLWorksheet worksheet = workbook.Worksheets.Add("Sayfa1");

            worksheet.Cell(1, 1).Value = "Sıra";
            worksheet.Cell(1, 2).Value = "Referans No";
            worksheet.Cell(1, 3).Value = "Marka";
            worksheet.Cell(1, 4).Value = "Model";
            worksheet.Cell(1, 5).Value = "Seri No";

            for (int i = 1; i <= 5; i++)
            {
                worksheet.Cell(1, i).Style.Font.Bold = true;
            }

            int index = 1;

            foreach (var data in DSKalibrasyonCihaz)
            {
                worksheet.Cell(index + 1, 1).Value = data.Sira;
                worksheet.Cell(index + 1, 2).Value = data.BasvuruTakipNo;
                worksheet.Cell(index + 1, 3).Value = data.Marka;
                worksheet.Cell(index + 1, 4).Value = data.Model;
                worksheet.Cell(index + 1, 5).Value = data.SeriNo;

                index++;
            }

            using (var stream = new MemoryStream())
            {
                workbook.SaveAs(stream);
                var content = stream.ToArray();
                var fileName = "KalibrasyonCihazListesi" + DateTime.Now.ToString("yyyyMMddss") + ".xlsx";
                await js.InvokeAsync<object>("saveAsFile", fileName, Convert.ToBase64String(content));
            }
        }
    }

    async Task KabulEt(KalibrasyonCihazDTO dto)
    {
        var confirm = await js.InvokeAsync<bool>("SweetConfirm", "Uyarı", $"{dto.Id.ToString()} IDli cihaz kalibrasyon olacaklar listesine alınacak, devam edilsin mi?", "question", "Evet", "Hayır");

        if (confirm)
        {
            var dtoInsert = new KalibrasyonCihazHareketDTO()
                {
                    KalibrasyonCihazId = dto.Id,
                    KalibrasyonCihaz = dto,
                    HareketTuruId = 201,
                    HareketTuruString = "Laboratuvar Görevlisi Kalibrasyon Listesine Aldı",
                    HareketTuru = new HareketTuruDTO() { Id = 201, HareketTuru = "Laboratuvar Görevlisi Kalibrasyon Listesine Aldı" },
                    Zaman = DateTime.Now,
                    Aciklama = "",
                    KalibrasyonCihazHareketDosyaList = new List<KalibrasyonCihazHareketDosyaDTO>()
                };

            dtoInsert.KalibrasyonCihaz.DataSourceModel = new List<LookupBasicDTO>();

            var result = await kalibrasyonService.InsertKalibrasyonCihazHareket(dtoInsert);

            if (result.Success == false)
            {
                await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");
                return;
            }

            await GetData();

            await InvokeAsync(StateHasChanged);

            await js.InvokeVoidAsync("SweetToast", "Cihaz kalibrasyon olacaklar listesine alındı", "success");
        }
    }

    async Task IadeEt(KalibrasyonCihazDTO dto)
    {
        currentKalibrasyonCihazHareketDTO = new KalibrasyonCihazHareketDTO() { 
            KalibrasyonCihaz = dto,
            KalibrasyonCihazId = dto.Id, 
            KalibrasyonCihazHareketDosyaList = new List<KalibrasyonCihazHareketDosyaDTO>() 
        };

        await js.InvokeVoidAsync("bsPopupAc", "popupAciklamaKaydi");

        await InvokeAsync(StateHasChanged);
    }

    async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        FileArgs = e;

        if (currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList == null)
        {
            currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList = new List<KalibrasyonCihazHareketDosyaDTO>();
        }

        int i = 0;

        foreach (var file in FileArgs.GetMultipleFiles(10))
        {
            i--;

            var stream = file.OpenReadStream();

            MemoryStream ms = new MemoryStream();

            await stream.CopyToAsync(ms);

            stream.Close();

            var streamArray = ms.ToArray();

            ms.Close();

            var dosya = new KalibrasyonCihazHareketDosyaDTO()
                {
                    Id = i,
                    Dosya = Convert.ToBase64String(streamArray),
                    DosyaAdi = file.Name,
                    Boyut = file.Size,
                    Uzanti = Path.GetExtension(file.Name).Replace(".", "").ToLower()
                };

            currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList.Add(dosya);

            stream.Close();
        }
    }

    async Task DeleteKalibrasyonCihazHareketDosya(KalibrasyonCihazHareketDosyaDTO dto)
    {
        currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList.Remove(dto);

        await InvokeAsync(StateHasChanged);
    }

    async Task ShowImageOpen(int Id)
    {
        currentKalibrasyonCihazHareketDosyaDTO = currentKalibrasyonCihazHareketDTO.KalibrasyonCihazHareketDosyaList.SingleOrDefault(x => x.Id == Id);

        await InvokeAsync(StateHasChanged);
    }

    async Task ShowImageClose()
    {
        currentKalibrasyonCihazHareketDosyaDTO = new KalibrasyonCihazHareketDosyaDTO();

        await InvokeAsync(StateHasChanged);
    }

    async Task KaydetIadeEt(KalibrasyonCihazHareketDTO dto)
    {
        if (string.IsNullOrEmpty(dto.Aciklama))
        {
            await js.InvokeVoidAsync("SweetToast", "Açıklama girilmelidir", "error");
            return;
        }

        loading = true;

        dto.KalibrasyonCihaz.DataSourceModel = new List<LookupBasicDTO>();

        if (rol == "LaboratuvarGorevlisi")
        {
            dto.HareketTuruId = 202;
            dto.HareketTuruString = "Laboratuvar Görevlisi Sekretere İade Etti";
            dto.HareketTuru = new HareketTuruDTO() { Id = 202, HareketTuru = "Laboratuvar Görevlisi Sekretere İade Etti" };
        }
        else if (rol == "LaboratuvarSorumlusu")
        {
            dto.HareketTuruId = 302;
            dto.HareketTuruString = "Laboratuvar Sorumlusu Laboratuvar Görevlisine İade Etti";
            dto.HareketTuru = new HareketTuruDTO() { Id = 302, HareketTuru = "Laboratuvar Sorumlusu Laboratuvar Görevlisine İade Etti" };
        }

        dto.Zaman = DateTime.Now;

        var result = await kalibrasyonService.InsertKalibrasyonCihazHareket(dto);

        if (result.Success == false)
        {
            loading = false;

            await InvokeAsync(StateHasChanged);

            await js.InvokeVoidAsync("SweetMessage", "Hata", result.Message, "error");

            return;
        }

        loading = false;

        await GetData();

        await InvokeAsync(StateHasChanged);

        await js.InvokeVoidAsync("bsPopupKapat", "popupAciklamaKaydi");

        await js.InvokeVoidAsync("SweetToast", "Cihazın iade kaydı yapıldı", "success");
    }
}