<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    Yetkiniz yok
                </NotAuthorized>
                <Authorizing>
                    Kontrol ediliyor...
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <center>
                    <br />
                    <br />
                    <br />
                    <h1>Hatalı adres</h1>
                    <br />
                    <br />
                    <a href="/">Kullanıcı Girişi</a>
                </center>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>